---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <main>
    <h1 class="text-4xl">Bienvenido</h1>
    <a href="login"><Button>Iniciar sesión</Button></a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    margin-bottom: 10px;
  }
</style>
